---
import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";

import arrow from "assets/arrow.svg";

import benlemi1 from "../assets/benlemi1.png";
import benlemi2 from "../assets/benlemi2.png";

import vino1 from "../assets/vino1.png";
import vino2 from "../assets/vino2.png";

import pethome1 from "../assets/pethome1.png";
import pethome2 from "../assets/pethome2.png";

import ozeo1 from "../assets/ozeo1.png";
import ozeo2 from "../assets/ozeo2.png";

import starlight from "../assets/starlight-theme.png";
---
<style>
.reference-item{
    background: #262626;
    border-radius: 10px;
    color: white;
    position: relative;
    margin-bottom: 40px;
    transition: 0.6s ease box-shadow;
    z-index: 1;
}
.reference-item:hover{
    /*transform: translateY(-8px);*/
    box-shadow: 0 6px 15px rgba(0,0,0,.08);
}
.reference-item::before{
    content: "";
    background: rgba(255,255,255,0.1);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 460px;
    z-index: -1;
}
.reference-item.--benlemi{
    background: #78AA66;
    /*background: linear-gradient(277.64deg, #4C9152 0%, #9FC46F 100%);*/
}
.reference-item.--vino{
    background: #83417b;
    /*background: linear-gradient(248.09deg, #532065 0%, #a35382 100%);*/
}
.reference-item.--pethome{
    background: #517ea3;
    /*background: linear-gradient(97.64deg, #92ACC0 0%, #204460 100%);*/
}
.reference-item.--ozeo{
    background: #333;
}
.reference-item a{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.reference-item-tags{
    display: flex;
    gap: 20px;
    opacity: 0.75;
    padding-bottom: 20px;
}
.reference-item-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 40px;
}
.reference-item-heading h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
}
.reference-item-heading span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reference-item-img{
    display: flex;
    gap: 40px;
}
.reference-item-img figure{
    box-shadow: 0 6px 15px rgba(0,0,0,.08);
}

@media screen and (max-width: 991px){
    .reference-item::before{
        width: 260px;
    }
    .reference-item a{
        padding: 30px;
    }
    .reference-item-heading{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .reference-item-heading h3{
        line-height: 1.5;
    }
    .reference-item-heading span{
        display: none;
    }
    .reference-item-img{
    display: flex;
    gap: 20px;
}
}

@media screen and (max-width: 767px){
    .reference-item-img figure:last-child{
    display: none;
}
}

.shopify{
  background: #f5f5f5;
  padding: 80px 0 0 0;
}
.shopify span{

}
.shopify h2{
  font-size: 30px;
  font-weight: 700;
}
.shopify p{
  margin: 40px 0;
  padding: 0;
  max-width: 600px;
}

.shopify-btns{
  display: flex;
  gap: 15px;
  padding-bottom: 80px;
}
@media screen and (max-width: 991px){
  .shopify-btns{
    padding-bottom: 40px;
  }
}

</style>
<Layout title="Navrhuji a tvořím skvělé e-shopy, které váš byznys posunou o level výše">

    <Hero />

    <section class="py-20">
        <Container>

            <h2 class="text-4xl font-bold text-center lg:text-left lg:text-4xl lg:tracking-tight mb-10">Vybrané reference</h2>
        
            <article class="reference-item --benlemi">
                <a href="/benlemi">
                    <div class="reference-item-tags">
                        <span>UI & UX design</span>
                        <span>Shoptet</span>
                    </div>
                    <div class="reference-item-heading">
                        <h3>Redesign e-shopu výrobce designového nábytku pro děti.</h3>
                        <span>Chci si o tom přečíst <img src={arrow} alt="Jan Heder"></span>
                    </div>
                    <div class="reference-item-img">
                        <figure>
                            <Picture src={benlemi1} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                        <figure>
                            <Picture src={benlemi2} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                    </div>
                </a>
            </article>

            <article class="reference-item --vino hidden">
                <a href="/vinoprikryl">
                    <div class="reference-item-tags">
                        <span>UI & UX design</span>
                        <span>Shoptet</span>
                    </div>
                    <div class="reference-item-heading">
                        <h3>Tvorba a design e-shopu.</h3>
                        <span>Chci si o tom přečíst</span>
                    </div>
                    <div class="reference-item-img">
                        <figure>
                            <Picture src={vino1} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                        <figure>
                            <Picture src={vino2} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                    </div>
                </a>
            </article>

            <article class="reference-item --pethome">
                <a href="/pethome">
                    <div class="reference-item-tags">
                        <span>UI & UX design</span>
                        <span>Prestashop</span>
                    </div>
                    <div class="reference-item-heading">
                        <h3>Redesign e-shopu prodejce krmiv a chovatelských potřeb pro domácí zvířat.</h3>
                        <span>Chci si o tom přečíst</span>
                    </div>
                    <div class="reference-item-img">
                        <figure>
                            <Picture src={pethome1} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                        <figure>
                            <Picture src={pethome2} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                    </div>
                </a>
            </article>     

            <article class="reference-item --ozeo">
                <a href="/ozeo">
                    <div class="reference-item-tags">
                        <span>UI & UX design</span>
                        <span>Vlastní řešení</span>
                    </div>
                    <div class="reference-item-heading">
                        <h3>Tvorba nového e-shopu pro prodejce moderního nábytku a bytových doplňků.</h3>
                        <span>Chci si o tom přečíst</span>
                    </div>
                    <div class="reference-item-img">
                        <figure>
                            <Picture src={ozeo1} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                        <figure>
                            <Picture src={ozeo2} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                        </figure>
                    </div>
                </a>
            </article>

        </Container>
    </section>

    <section class="shopify">
        <Container>

            <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
                <div class="col">
                    <h2>Shopify šablona "Starlight" <br> ke stažení zdarma</h2>
                    <p>Rychlé, responzivní a určeno pro Online store 2.0. (2021). Původně určeno pro osobní účely, ovšem nakonec z projektu sešlo a tak nechávám volně ke stažení.</p>
                    <p>V případě, že plánujete šablonu využít a potřebujete pomoc s vývojem nebo úpravami designu, neváhejte mě kontaktovat.</p>
                    <div class="shopify-btns">
                        <a href="https://janhedershop.myshopify.com/" class="btn">Ukázat demo (heslo:starlight)</a>
                        <a href="https://github.com/janheder/starlight" class="btn btn-ghost">Github a stažení</a>
                    </div>
                </div>

                <div class="col">
                    <Picture src={starlight} format="avif" alt="" widths={[400, 500, 580]} sizes="(max-width: 991px) 100vw, 580px" class="h-full object-cover transition  group-hover:-translate-y-1 group-hover:shadow-xl" format="avif"/>
                </div>
            </div>


        </Container>
    </section>

    <Cta />
    
</Layout>
